<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="base test suite">
            <directory suffix="Test.php">./tests/Unit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./vendor/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
